* {
  text-align: center;
}


.inner {
  position: fixed;
  z-index: 1;
}

.zText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.zText2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}